In [1]:
# import pycaret regression and init setup
from pycaret.regression import *
import pandas as pd

In [2]:
# 데이터 로드
file_path = r"C:\Users\dongj\OneDrive\바탕 화면\심화프로젝트\전처리파일1.csv"
data = pd.read_csv(file_path)

In [3]:
data.head()

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,...,Product Name,Sales,Quantity,Discount,Profit,sales_total,discount_total,profit_total,profit_rate,Month
0,2020-01-01,849,CA-2017-107503,Standard Class,GA-14725,Consumer,United States,Lorain,Ohio,44052,...,"Linden 10"" Round Wall Clock, Black",48.896,4.0,0.2,8.5568,195.584,0.8,34.2272,0.1750,1
1,2020-01-01,4010,CA-2017-144463,Standard Class,SC-20725,Consumer,United States,Los Angeles,California,90036,...,"Howard Miller 11-1/2"" Diameter Brentwood Wall ...",474.430,11.0,0.0,199.2606,5218.730,0.0,2191.8666,0.4200,1
2,2020-01-01,6683,CA-2017-154466,First Class,DP-13390,Home Office,United States,Franklin,Wisconsin,53132,...,Wilson Jones Easy Flow II Sheet Lifters,3.600,2.0,0.0,1.7280,7.200,0.0,3.4560,0.4800,1
3,2020-01-01,8070,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,...,SAFCO Boltless Steel Shelving,454.560,5.0,0.2,-107.9580,2272.800,1.0,-539.7900,-0.2375,1
4,2020-01-01,8071,CA-2017-151750,Standard Class,JM-15250,Consumer,United States,Huntsville,Texas,77340,...,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5.0,0.6,-187.3815,707.100,3.0,-936.9075,-1.3250,1

In [4]:
data_tm = data.drop(['Sales','Quantity'],axis=1) # 컬럼 삭제

In [5]:
data_tm['sales_total'].describe() # 총매출 정보 보기

count     3275.000000
mean      1088.612303
std       3292.056111
min          0.444000
25%         48.320000
50%        186.000000
75%        728.820000
max      56782.648000
Name: sales_total, dtype: float64

In [6]:
s = setup(data, target = 'sales_total', session_id = 123) # 총매출 셋업

In [7]:
# compare baseline models  모델 비교
best = compare_models(fold=8)

In [8]:
# 모델 생성
gbr = create_model('gbr', fold=8)

In [9]:
# 모델 평가
evaluate_model(gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…